<body class="profile">
    <main class="">
        <div class="parallax-container">
            <div class="parallax"><img src="build/img/stock/cover-user.jpg" class="width-full" ></div>
            <div class="text">
                <h1> Restaurant List </h1>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="wrapper-left">
                    <div class="side-pannel">
                        <a href="profile" class="tab chosen"><span class="fa fa-home"></span> Home</a>
                        <a href="favorite" class="tab"><span class="fa fa-star"></span> Favorite</a>
                        <a href="/waitlists"class="tab"><span class="fa fa-hourglass"></span> Waitlist</a>
                        <a href="delivery"class="tab"><span class="fa fa-rocket"></span> Delivery</a>
                        <a href="payment"class="tab"><span class="fa fa-credit-card"></span>Payment</a>
                        <a href="setting"class="tab"><span class="fa fa-cog"></span>Setting</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="wrapper-right">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                        <p id="notice"><%= notice %></p>
                        
                        <div class="text-center">
                            <h1><%=current_user.name %>'s Waitlists</h1>
                            <table class="table table-striped">
                                <thead>
                                    <tr><th colspan="3"></th></tr>
                                </thead>
                                
                                <tbody >
                                    <% if not @lists.empty? %>
                                    <tr>
                                        <td>Name</th>
                                        <td># People</th>
                                        <td></th>
                                    </tr>
                                    
                                    <% @lists.each do |list| %>
                                    <tr>
                                        <td>

                                            <% name = User.where(id: list.cust_id).first.name %>
                                            <%= list.name %>
                                        </td>
                                        <td>
                                            <%= list.people %>
                                        </td>
                                        <td>
                                            <!-- <button class="btn btn-red">Delete</button>
                                            <%= link_to 'Delete', list, controller: 'waitlists', action: 'destroy',method: :delete%> -->
                                            <button class="btn btn-red"><%= link_to 'Delete', list, controller: 'waitlists', action: 'destroy',method: :delete%></button>
                                            
                                        </td>
                                    </tr>
                                    <% end %>
                                    <%else %>
                                    You have no current waitlist.
                                    <%end %>
                                </tbody>
                            </table>

                            <br><a class="btn btn-bytlyn" href="./waitlists_new?rest_id=<%= current_user.id %>"> New Waitlist</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    
    
