<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
<body class="signup">
<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">                    
    <!-- <p id="notice"><%= notice %></p> -->
                <div class="text-center">
                    <h1><%=current_user.name %>'s Menus</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr><th colspan="3"></th></tr>
                        </thead>
                        
                        <tbody >
                            <% if not @lists.empty? %>
                            <tr>
                                <td>Picture</th>
                                <td>Name</th>
                                <td>Description</th>
                                <td>Price</th>
                                <td></th>
                                <td></th>
                            </tr>
                            
                            <% @lists.each do |list| %>
                            <tr>
                                <td>
                                    <%= image_tag(list.avatar.url(:thumb), :width => '50', :height => '50')%>
                                </td>
                                <td>
                                    <!--% name = User.where(id: list.cust_id).first.name %> -->
                                    <%= list.name %>
                                </td>
                                <td>
                                    <%= list.description %>
                                </td>
                                <td>
                                    <%= list.price %>
                                </td>
                                <td>
                                    <!-- <button class="btn btn-red">Delete</button>
                                    <%= link_to 'Delete', list, controller: 'menus', action: 'destroy',method: :delete%> -->
                                    <button class="btn btn-red"><%= link_to 'Delete', list, controller: 'menus', action: 'destroy',method: :delete%></button>
                                </td>
                                <td>
                                    <!-- <button class="btn btn-red">Delete</button>
                                    <%= link_to 'Delete', list, controller: 'menus', action: 'destroy',method: :delete%> -->
                                    <a class="btn btn-red" href="./menus_edit?id=<%= list.id %>"%>Edit</a>
                                </td>
                            </tr>
                            <% end %>
                            <%else %>
                            You have no menu.
                            <%end %>
                        </tbody>
                    </table>

                    <br><a class="btn btn-bytlyn" href="./menus_new"> New Menu</a><br>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- </div> -->