<body class="restaurant">
<div class="loading-page"></div>
<main>
	<div class="parallax-container">
    	<div class="parallax"><img src="build/img/stock/restaurant2.jpg" class="width-full" ></div>
    	<div class="text text-center">
    		<h1> <%= User.where(id: params[:rest_id]).first.name %> </h1>
    	</div>
    </div>
    <section class="content">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<% if !current_user.rest %>
				<div class="wrapper-left text-center">
					<a href="/waitlists_new?rest_id=<%=params[:rest_id] %>" class="btn btn-bytlyn">Waitlist</a><br>
					<a href="signup.html" class="btn btn-bytlyn">Delivery</a><br>
					<a href="http://www.opentable.com/" class="btn btn-bytlyn">Reservation</a><br>
				</div>
			<%end%>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<div class="wrapper-right text-center">
				<div class="carousel">
					<% Menu.where(rest_id: params[:rest_id]).each do |menu| %>
					  <div>
					  	<%= image_tag menu.avatar.url(:medium), :class => "thumbnail", width: '285', height: '200' %><br>
					  	<%= menu.name %><br>
					  	$<%= menu.price %>
					  </div>
					<% end %>
				</div>
				<img src="build/img/stock/logo-restaurant.jpg" class="r-logo"/>
				<div class="rating-restaurant text-md">
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star-o"></span>
				</div>
				<div class="r-info text-sm text-center">
					Description:<br><%= Restaurant.where(user_id: params[:rest_id]).first.description %>
				</div>
			</div>
		</div>
    </section>
</main>