<body class="signup">
<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= devise_error_messages! %>
            <% if flash[:danger] %>
              <div class="alert alert-danger"><%= flash[:danger] %></div>
            <% end %>
            <span class="info">Email</span><br>
            <%= f.email_field :email, :class => 'modern'%>
          </div>


          <span class="info">Password</span><br>
          <%= f.password_field :password, :class => 'modern'%>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", :class => 'btn btn-bytlyn btn-max' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>