<body class="profile">
<main class="">
    <div class="parallax-container">
        <div class="parallax"><img src="build/img/stock/cover-user.jpg" class="width-full" ></div>
        <div class="text">
            <h1> Restaurant List </h1>
        </div>
    </div>
    <div class="container">
    <% if user_signed_in? && (!current_user.rest || Restaurant.find_by_user_id(current_user.id) != nil) %>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="wrapper-left">
                <div class="side-pannel">
                    <a href="profile" class="tab chosen"><span class="fa fa-home"></span> Home</a>
                    <a href="favorite" class="tab"><span class="fa fa-star"></span> Favorite</a>
                    <a href="/waitlists"class="tab"><span class="fa fa-hourglass"></span> Waitlist</a>
                    <a href="delivery"class="tab"><span class="fa fa-rocket"></span> Delivery</a>
                    <a href="payment"class="tab"><span class="fa fa-credit-card"></span>Payment</a>
                    <a href="setting"class="tab"><span class="fa fa-cog"></span>Setting</a>
                </div>
            </div>
        </div>
    <% end %>
        <% if user_signed_in? %>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <% else %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% end %>
            <div class="wrapper-right" style="padding:20px;">
                <div>
                    <%= form_tag("/restaurants", method: "get", :id => "myform")do %>
                        <p>
                            <label for="input">Search</label>
                            <input id="input" style="margin-left:auto;margin-right:auto;margin-top:0px;margin-bottom:5px;color:black;font-size:30px;" type="text" name="key" value="<%=@key%>"onkeydown="if (event.keyCode == 13 && $('#myform #input').val().length != 0) { document.myform.submit(); return false; }"></input>
                        </p>
                        <p>
                            <label for="price">Price</label>
                            <% if @checkprice == "true" %>
                                <input type="checkbox" name="checkprice" value="true" checked>
                            <% else %>
                                <input type="checkbox" name="checkprice" value="true">
                            <% end %>
                            
                            <input type="range" name="price" min="1" max="4" value="<%=@price%>" style="width:300px;"/>
                        </p>
                        <p>
                            <label for="rating">Rating</label>
                            <% if @checkrating == "true" %>
                                <input type="checkbox" name="checkrating" value="true" checked>
                            <% else %>
                                <input type="checkbox" name="checkrating" value="true">
                            <% end %>
                            
                            <input type="range" name="rating" min="1" max="5" value="<%=@rating%>" style="width:300px;"/>
                        </p>
                        <p>
                        <label for="category">Category</label>
                        <select name="category" id="category" value="<%=@category%>">
                            <option value="">None</option>
                            <option value="American">American</option>
                            <option value="Italian">Italian</option>
                            <option value="French">French</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Asian">Asian</option>
                        </select>
                        </p>
                        <input type="submit" style="margin-bottom:40px;">
                    <% end %>
                    
                </div>
                <% if !@restaurants.blank?%>
                    <% @restaurants.each do |restaurant| %>
                        <% if @users.find_by_id(restaurant.user_id) != nil %>
                        <div class="col-md-6">
                            
                                <div class="panel panel-default restaurant-panel">
                                    <a href = './restaurant_page?rest_id=<%= restaurant.user_id %>' style="display:inline-block;">
                                    <div class="panel-heading"><%= @users.find_by_id(restaurant.user_id).name %></div>
                                    </a>
                                    <div class="panel-body">
                                        <div class="col-md-3">
                                            <%= image_tag(@users.find_by_id(restaurant.user_id).avatar.url(:thumb), :width => '120', :height => '120')%>
                                        </div>
                                        <div class="col-md-9">
                                            <ul class="pull-right">
                                                <li>price:<%=restaurant.price%></li>
                                                <li>rating:<%=restaurant.rating%>
                                                    <img src="build/img/stock/star.png" alt="Restaurant Logo" width="30" height="30">
                                                </li>
                                                <li>Open now!</li>
                                                <li><% if (user_signed_in? && !current_user.rest) %>
                                                    <a class="btn btn-warning" href="./waitlists_new?rest_id=<%= restaurant.user_id %>">Waitlist</a>
                                                    <% elsif !user_signed_in? %>
                                                        <a class="btn btn-warning" href="./login">Waitlist</a>
                                                    <% end %>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                
                                </div>
                            

                        </div>
                        <%end%>
                    <% end %> <!--end of for loop-->
                <% else %>
                    <h2> Search </h2>
                    <p>Can't find anything</p>
                    <p>Suggestions</p>
                    <ul style="list-style-type: circle;">
                        <li>Make sure all words are spelled correctly
                        <li>Try different keywords
                    </ul>

                <% end %>
            </div>
        </div>
    </div>
</main>

